@media (min-width: 354px) {
  #serviceNameID {
    font-size: medium;
  }

  #imageID {
    height: 600px;
    width: 300px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #serviceNameID {
    font-size: large;
  }

  #imageID {
    height: 600px;
    width: 300px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #serviceNameID {
    font-size: x-large;
  }

  #imageID {
    height: 600px;
    width: 300px;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #serviceNameID {
    font-size: x-large;
  }

  #imageID {
    height: 600px;
    width: 300px;
  }
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #serviceNameID {
    font-size: xx-large;
  }

  #imageID {
    height: 600px;
    width: 300px;
  }
}
